/* Utility */
@import url('./../../style.css');

/* Fonts  */
@import url('./../../fonts/google.css');

/* Components  */
@import url('../../components/mini_post.css');
@import url('../../components/react.css');

/* Sections  */
@import url('../../sections/header.css');
@import url('../../sections/footer.css');

@import url('./post_header.css');
@import url('./post_content.css');
@import url('./do_comment.css');
@import url('./user_actions.css');
@import url('./user_comments.css');
@import url('./sidebar.css');
@import url('./post_footer.css');

body{
    font-family: 'Poppins', sans-serif;
}

:root {
    --green: rgb(23, 191, 99);
    --white: #fff;
    --black: #000;
}

main {
    min-height: 100vh;
    width: 100%;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    margin-bottom: 20px;
}

@media screen and (max-width:500px) {
    
}