.footer-social {
    margin: 15px 0;
}

.footer-social a {
    padding: 10px 15px;
    color: #fff;
    font-size: 20px;
    background-color: #15202B;
    border-radius: 10px;
}

.footer-social a:hover {
    transition: all 0.4s ease;
    background-color: #0a121a;
}

.footer-social a:nth-child(1) {color: #1877F2;}
.footer-social a:nth-child(2) {color: skyblue;}
.footer-social a:nth-child(3) {color: purple;}
.footer-social a:nth-child(4) {color: rgb(230, 67, 67);}