@import url("../components/bottom_hover_effect.css");
@import url("../components/footer_social.css");

footer {
    margin: 10px 0 0 0;
    background-color: rgba(5, 14, 22, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 280px;
    position: relative;
}

.footer-items {
    width: 100%;
    padding: 20px 50px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}

.footer-items h3 {
    text-transform: uppercase;
    margin-bottom: 10px;
    position: relative;
    color: rgb(23, 191, 99);
}

.footer-items h3::before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 140px;
    height: 3px;
    background-color: #fff;
}




footer .newsletter form {
    display: flex;
    align-items: center;
    /* border: 3px solid red; */
}
footer .newsletter input {
    border: none;
    outline: none;
    padding: 15px 20px;
    min-width: 300px;
    width: 60%;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin: 10px 10px 10px 0;
    border-radius: 20px;
    background-color: #eee;
}

footer .newsletter input::selection {
    background-color: #ccc;
}

footer .newsletter button {
    min-width: 70px;
    width: 15%;
    padding: 15px 5px;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgb(23, 191, 99);
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2rem;
}

footer .newsletter button:hover {
    background: rgb(23, 191, 99);
    opacity: 0.9;
    transition: all 0.3s ease-in-out;
}

footer .contact div {
    margin-bottom: 5px;
    padding-bottom: 5px;
}

footer .contact .contact-details {
    font-weight: bold;
}


.credit {
    font-size: 1.1rem;
    margin: 5px 0 10px 0;
    padding: 5px 0 10px 0;
    border-top: 1px solid #333;
    width: 100%;
    text-align: center;
}

@media screen and (max-width:1080px) {
    footer {
        height: auto;
    }
    .footer-items {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width:750px) {
    footer {
        height: auto;
    }
    .footer-items {
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width:550px) {
    .footer-items {
        padding: 20px;
    }
    footer .newsletter input {
        min-width: 280px;
    }
}
@media screen and (max-width:400px) {
    footer .newsletter input {
        min-width: auto;
        width: 80%;
    }
    footer .newsletter button {
        min-width: 60px;
    }
}