/* Utility */
@import url('./../../style.css');

/* Fonts  */
@import url('./../../fonts/google.css');

/* Components  */
@import url('../../components/readMore.css');
@import url('../../components/bottom_underline.css');

/* Sections  */
@import url('../../sections/header.css');
@import url('./landing.css');
@import url('./posts.css');
@import url('../../sections/footer.css');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #15202B;
    color: #fff;
}

main {
    width: 100%;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1 {
    margin: 10px 0;
    position: relative;
}


main section {
    position: relative;
    width: 100%;
}