/* Utility */
@import url('./../../style.css');

/* Fonts  */
@import url('./../../fonts/google.css');

/* Components  */
@import url('../../components/readMore.css');

/* Sections  */
@import url('../../sections/header.css');
@import url('./landing.css');
@import url('../../sections/posts.css');
@import url('../../sections/footer.css');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #15202B;
    color: #fff;
}

main {
    width: 100%;
    margin: auto;
    position: relative;
    top: 80px;
}

main section {
    position: relative;
    width: 100%;
}