@import url('../../components/bottom_hover_effect.css');
@import url('../../components/hero_post.css');
@import url('../../components/buttons/glow_effect.css');



.posts {
    padding: 10px 50px;
    display: grid;
    width: 100%;
    grid-template-columns: 3fr 1fr;
    grid-gap: 10px;
}

.hero_posts {
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 10px;
    z-index: 1000;
}

.hero_posts .hero_post:nth-child(1) {
    grid-column: 1 / 7;
    grid-row: span 12;
}
.hero_posts .hero_post:nth-child(2) {
    grid-column: 7 / 12;
    grid-row: span 4;
}
.hero_posts .hero_post:nth-child(3) {
    grid-column: 7 / 12;
    grid-row: span 4;
}
.hero_posts .hero_post:nth-child(4) {
    grid-column: 7 / 12;
    grid-row: span 4;
}

.posts .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar {
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.sidebar .sidebar_item {
    padding: 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 20px rgba(255,255,255,0.05);
}

.sidebar .sidebar_item h1{
    color: rgb(23, 191, 99);
    text-transform: uppercase;
    border-radius: 5px;
    padding: 5px 5px;
    margin-bottom:10px;
    position: relative;
}

.sidebar .sidebar_item h1::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 3px;
    background: #eee;
    transform-origin: center;
}

.sidebar .sidebar_item > div {
    margin-top: 15px;
}
.sidebar .sidebar_item ul {
    padding-left: 30px;
}

.sidebar .sidebar_item ul li {
    padding: 5px 0;
}

.sidebar .sidebar_item ul li a{
    color: #fff;
    position: relative;
}

.sidebar .sidebar_item form {
    display: grid;
    width: 100%;
    justify-content: space-between;
    grid-template-columns: repeat(2, minmax(auto, auto));
    grid-gap: 5px;
}

.sidebar .sidebar_item form input,
.sidebar .sidebar_item form button {
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 1000px;
    margin: 5px 0;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    display: block;
}

.sidebar .sidebar_item form button{
   cursor: pointer;
   width: 100px;
   transition: all 0.3s ease;
}

.sidebar .sidebar_item form button:hover{
   background-color: rgb(23, 191, 99);
   color: #fff;
}


@media screen and (max-width:1300px) {
    .hero_posts {
        grid-template-columns: repeat(11, 1fr);
        grid-template-rows: repeat(18, 1fr);
    }
    .hero_posts .hero_post:nth-child(1) {
        grid-column: 1 / 7;
        grid-row: span 12;
    }
    .hero_posts .hero_post:nth-child(2) {
        grid-column: 7 / 12;
        grid-row: span 6;
    }
    .hero_posts .hero_post:nth-child(3) {
        grid-column: 7 / 12;
        grid-row: span 6;
    }
    .hero_posts .hero_post:nth-child(4) {
        grid-column: 1 / 12;
        grid-row: span 6;
    }
}

@media screen and (max-width:1200px) {
    .posts {
        padding: 10px 30px;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 10px;
    }
    .hero_posts {
        height: 700px;
    }
}

@media screen and (max-width:1150px) {
    .posts {
        grid-template-columns: 6fr;
    }
    .hero_posts {
        grid-template-columns: 1fr 1fr;
    }
    .sidebar {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .sidebar .sidebar_item h1::before{
        width: 80%;
    }
    .sidebar .sidebar_item form{
        display: flex;
        flex-direction: column;
    }
    .sidebar .sidebar_item form input{
        width: 95%;
        margin: 0;
    }
    .sidebar .sidebar_item form button{
        margin: 0;
    }
}

@media screen and (max-width:850px) {
    .sidebar {
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .sidebar .sidebar_item form{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        /* border: 3px solid red; */
    }
    .sidebar .sidebar_item form input{
        width: 350px;
        margin: 5px 2px;
    }
    .sidebar .sidebar_item form button{
        width: 120px;
        margin: 5px 2px;
    }
    .sidebar .sidebar_item h1::before{
        width: 100%;
    }

    .hero_posts {
        padding: 0 10px;
        height: 800px;
        grid-template-columns: repeat(11, 1fr);
        grid-template-rows: repeat(24, 1fr);
    }
    .hero_posts .hero_post:nth-child(1),
    .hero_posts .hero_post:nth-child(2),
    .hero_posts .hero_post:nth-child(3),
    .hero_posts .hero_post:nth-child(4) {
        grid-column: 1 / 12;
        grid-row: span 6;
    }
}

@media screen and (max-width:550px) {
    .posts {
        padding: 10px 20px;
    }
    .sidebar .sidebar_item form {
        width: 100%;
    }
    .sidebar .sidebar_item form input{
        width: 300px;
    }
    .sidebar .sidebar_item form button{
        width: 100px;
    }
}

@media screen and (max-width:450px) {
    .posts {
        padding: 10px;
    }
    .hero_posts {
        height: 900px;
        grid-template-columns: 1fr 1fr;
    }
    .sidebar .sidebar_item form {
        display: flex;
        flex-direction: column;
    }
    .sidebar .sidebar_item form input{
        width: 100%;
    }
    .sidebar .sidebar_item form button{
        width: 35%;
    }
}
